{% extends "layout.html" %}

{% block content %}
<section class="header">
    <h1>About Me</h1>
    <p>Python Developer & AI Enthusiast</p>
    <img src="https://i.ibb.co/v6FJmhwz/Screenshot-2025-07-30-at-12-19-54-Medium.jpg" alt="Still the sexiest man alive">
</section>
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>About Me</h2>
    <p>
        I am a Python developer with a passion for creating custom solutions for small and medium businesses. My particular focus is in rail safety, where I apply my skills to enhance operational efficiency and safety standards.
        I enjoy working on projects that involve AI and machine learning, and I am always eager to learn new technologies.
        My favourite colour is blue, and I have a soft spot for cats.
        Why are you still reading this? Go read my resume instead.
    </p>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="far fa-file"></i>Resume</a>
</section>
{% endblock %}