{% extends "layout.html" %}

{% block content %}
<section class="header">
    <h1>Delete "{{ project.title }}"?</h1>
    <p>This will permanently delete this project. This cannot be undone.</p>
</section>

<style>
    #edit-delete {
        text-align: center ;
    }
    /* I honestly have had so much $%@^#$%ing trouble with this delete button to get it to look like the rest of them. I think I spent about 2 hours on this. It made me want to cry ='( */
    #edit-delete button {
        background-color: #dc3545;
        border-radius: 10px;
        color: white;
        padding: 13px 35px;
        font-size: 20px;
        cursor: pointer;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: normal;
        line-height: normal;
        margin: 0;
        margin-right: 20px;
        display: inline-block;
    }
    
    #edit-delete a {
        margin-left: 60px;
    }
</style>
<section id="edit-delete">
    <form method="POST" action="{{ url_for('delete', id=project.id) }}" style="display: inline;">
        <button type="submit">Yes, Delete</button>
    </form>
    <a href="{{ url_for('detail', id=project.id) }}">
        Cancel
    </a>
</section>
{% endblock %}