{% extends "layout.html" %}

{% block content %}
<section class="header">
    <h1>Unemployed Developer</h1>
    <p>I can't afford to sell my last remaining kidney</p>
    <img src="https://i.ibb.co/v6FJmhwz/Screenshot-2025-07-30-at-12-19-54-Medium.jpg" alt="Headshot of the sexiest man that ever lived">
</section>
<section id="about">
    <h2>About Me</h2>
    <p>
        Im a professional couch potato who is a self proclaimed Brad Pitt lookalike. I work in rail safety and am looking for 
        a way to make bank. Hit me up if you want to hire me. I take venmo, cash, and PayPal. 
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
</section>
<section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>GitHub</li>
        <li>Visual Studio Code</li>
        <li>HTML & CSS</li>
        <li>Mathematics and Statistics</li>
    </ul>
</section>
<section id="projects">
    <div id="triangle3"></div>
    <i class="fas fa-file-code"></i>
    <h2>Projects</h2>
    <div id="project-list">
        {% for project in projects %}
        <div id="{{ project.id }}" class="a-project">
            <h3>{{ project.title }}</h3>
            <a href="{{ project.github_link }}" class="github-btn">
                <i class="fab fa-github"></i>
                View on GitHub
            </a>
            <p>
                {{ project.description }}
            </p>
        </div>
        {% endfor %}
    </div>
    <div id="triangle4"></div>
</section>
{% endblock %}